﻿<div class="jumbotron">
    <h1>Golliat National Bank</h1>
    <p class="lead">Transaction Management Web Service</p>
</div>
<div class="row">
    <h2>Testing</h2>
    <h3>Please, use the commands typed bellow in order to test the application:</h3>
    <p>
        Get all Transactions: "api/transaction" <br />
        Get all Rates: "api/rate" <br />
        Get all Product Transactions by SKU: "api/transaction?sku=x"
    </p>
</div>
